page-language {

}


.btn-language {
    // background: url(../assets/btn_yellow.png) no-repeat !important;
    // background-size: 100% !important;
    line-height: .4 !important;
    height: 38px !important;
    width: 150px;
    //font-family: 'Titillium Web', sans-serif;
    font-weight: 400 !important;

    color: white !important;
    background: #dd1f30 !important;
    border-radius: 4px;
    padding: 16px 50px !important;
}

.button-box {
    width: 100%;
    text-align: center;
    height: 100px;
}

.transparent {
    // background: none !important;
    border: solid 1px #fff !important;
    color: #fff;
}