
<ion-header>

  <ion-navbar class="black-header">
     <button ion-button menuToggle>
      <ion-icon name="menu" style="color:white"></ion-icon>
    </button> 		
    <ion-title class="header-name"><img src="assets/imgs/icon_logo@2x.png"> Basic</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goBack()"><ion-icon class= "back-icon" ios="ios-arrow-back" md="ios-arrow-back"  ></ion-icon></button>
    </ion-buttons>    
  </ion-navbar>

</ion-header>


<ion-content>
<div class="container form-box">
	<div class="col-xs-12">
		    <form class="form-signup" dir="ltr">
		      <div class="form-group">
		      	<label class="dark">Product Name (In English)</label>
		        <input type="email" class="text-box form-control dark" placeholder="Promotion Name" required="" [(ngModel)]="name" name="name" required>
		      </div>
		      <div class="form-group">	      	
		      	<label class="dark">Product Name (In Arabic)</label>
		        <input type="text" class="text-box form-control dark" placeholder="Promotin Name in Arabic" required="" [(ngModel)]="name_ar" name="name_ar" required>
		      </div>
		      <div class="form-group">
		      	<label class="dark">Product Description (In English)</label>
		        <input type="email" class="text-box form-control dark" placeholder="Zara" required="" [(ngModel)]="description" name="description" required>
		      </div>
		      <div class="form-group">	      	
		      	<label class="dark">Product Description (In Arabic)</label>
		        <input type="text" class="text-box form-control dark" placeholder="Zara" required="" [(ngModel)]="description_ar" name="description_ar" required>
		      </div>
		      <div class="form-group">	      	
		      	<label class="dark">Category</label>
		      	<br>
		        <select class="dropdown dark" name="categoryid" [(ngModel)]="categoryObj" (change)="getSubCategory()">
		        	<option *ngFor="let x of categoryList;let i = index" [ngValue]="x">{{x.name}}</option>
						</select>
		      </div>
		      <div class="form-group">	      	
		      	<label class="dark">Sub-Category</label>
		      	<br>
		        <select class="dropdown dark" name="subcategoryid" [(ngModel)]="subcategoryObj" (change)="onSubCategoryChange()">
		        	<option *ngFor="let x of subcategoryList;let i = index" [ngValue]="x">{{x.name}}</option>
		        </select>
					</div>
					
					<div class="col-xs-12 text-center">
						<br>
						<button  class="btn-nazik-undo" (click)="onClickUndo()">Undo</button>
						<button id="Cat_button" class="btn-nazik-remove-value" (click)="onChangeGetSubCategory()">Select Category</button>
						<br><br>
					</div>

					<div class="form-group">	      	
		      	<label class="dark">Type</label>
		      	<br>
		        <select class="dropdown dark" name="productType" [(ngModel)]="producttype">
							<option value="product">Product</option>
							<option vlaue="services">Services</option>
		        </select>
					</div>

		      <div class="form-group product_image">
							<div class="col-xs-6">
		      	<label class="dark">Thumbnail Image</label> <br>
		        <span id="fileselector">
		          <label class="" for="upload-file-selector">
									<!-- <input id="upload-file-selector" type="file" [(ngModel)]="thumbnail" name="thumbnail"> -->
									<input class="fileInput" type="file" name="file1" (change)="onChange1($event)">
									
									<span class="color-red"><b>Choose File</b></span>
		          </label>
						</span>
		      	</div>
						<div class="col-xs-6">
						<img class="product_left_image" src="{{thumbnail}}" value="thumbnail" imageViewer>
						</div>
					</div>
					

		      <span class="line"></span>
					<br>
					


		      <div class="form-group product_image">
							<div class="col-xs-6">
		      	<label class="dark">Product Image</label> <br>
		        <span id="fileselector">
		          <label class="" for="upload-file-selector">
									<input class="fileInput" type="file" name="file1" (change)="onChange($event)">
									<!-- <input class="fileInput" type="file" name="file1" (change)="onChange($event)"> -->
									<!-- <img src="images/icon_upload.png"> -->
									<span class="color-red"><b>Choose File</b></span>
		          </label>
						</span>
							</div>

							<div class="col-xs-6">
								<ion-slides class="image-slider" loop="true" slidesPerView="4">
									<ion-slide *ngFor="let image of images">
										<img class="product_left_image" src="{{image}}" imageViewer>							 
									 </ion-slide>
							 	</ion-slides>
							</div>
		      </div>
		      <div class="form-group">
		      	<label class="dark">Price In Local Currency (SAR)</label>
		        <input type="email" class="text-box form-control dark" placeholder="25" required="" [(ngModel)]="price" name="price">
		      </div>
		      <div class="checkbox ltr">
			  	<label class="dark"><input type="checkbox" value="true" [(ngModel)]="show_calender" name="show_calender">Show Calender</label> &nbsp;&nbsp;
			  	<label class="dark"><input type="checkbox" value="true" [(ngModel)]="show_time" name="show_time">Show Time</label>
			  </div>
			  


		      <br>
	          <div class="col-xs-12" style="text-align: center;">
							<button class="btn-nazik" (click)="addProduct()">Save</button>	
							<!-- <button class="btn-nazik" (click)="goToSpecifications()">Save</button>	 -->

	          </div>
	          <br><br><br><br>
		    </form>
    </div>
</div>  
</ion-content>
<!--  
<ion-footer>
   <ion-toolbar> 
    <div class="col-xs-12 btn-box fixed">
      <div class="col-xs-4">
        <h5 class="red">Basic</h5>
      </div>
      <div class="col-xs-4">
        <h5 class="white">Specifications</h5>
      </div>
      <div class="col-xs-4">
        <h5 class="white">Stock</h5>
      </div>
    </div>
   </ion-toolbar> 
</ion-footer>  -->


