<!--
  Generated template for the SpecificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>




  <ion-navbar class="black-header">
     <button ion-button menuToggle>
      <ion-icon name="menu" style="color:white"></ion-icon>
    </button> 		
    <ion-title class="header-name" [ngClass]="(checklang) ? 'title-page-ar ': 'title-page-en '" ><img src="assets/imgs/icon_logo@2x.png"> {{valueStrings[0].title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goBack()"><ion-icon class= "back-icon" ios="ios-arrow-back" md="ios-arrow-back"  ></ion-icon></button>
    </ion-buttons>    
  </ion-navbar>

</ion-header> 


<ion-content>

<div class="col-xs-12 promotion-box-outer" id="specifications" *ngIf="specbox">

	<div class="col-xs-12 promotion-box specificationbox" *ngFor="let item of specBox; let in = index"> 
		<table class="table table-promotion ltr">
			<tr>
				<td>{{valueStrings[1].title}} <br>{{valueStrings[2].title}}</td>
				<td><input id="spec_name_{{item.key_id}}_en" name="key-{{in}}" [(ngModel)]="item.key" placeholder="{{valueStrings[3].title}}"></td>
			</tr>
			<tr>
				<td>{{valueStrings[4].title}}<br>{{valueStrings[5].title}}</td>
				<td><input id="spec_name_{{item.key_id}}_ar" (keyup)="validation_spec_ar(item.key_id)" name="key_ar-{{in}}" [(ngModel)]="item.key_ar" placeholder="{{valueStrings[6].title}}"></td>
			</tr>
		</table>
		<table class="table table-promotion ltr value_{{item.key_id}}_en_ar" id="addvalue_spec_{{item.key_id}}">
			<tr > 
				<td>{{valueStrings[7].title}} <br>{{valueStrings[8].title}}</td>
				<td><input class="spec_{{item.key_id}}_value" id="spec_{{item.key_id}}_value_1_en" name="" placeholder="{{valueStrings[9].title}}"></td>
			</tr>
			<tr>
				<td>{{valueStrings[10].title}} <br>{{valueStrings[11].title}}</td>
				<td><input id="spec_{{item.key_id}}_value_1_ar" (keyup)="validation_val_ar(item.key_id,1)" name="" placeholder="{{valueStrings[12].title}}"></td>
			</tr>
		</table>
		<div class="col-xs-12 text-center">
			<br>
			<button class="btn-nazik-add-value" (click)="addValue(item.key_id);">{{valueStrings[13].title}}</button>
			
			<button class="btn-nazik-remove-value" (click)="removeValue(item.key_id)">{{valueStrings[14].title}}</button>
			<br><br>
		</div>
	</div>

</div>
<!-- Specifications box  -->

<div class="col-xs-12" style="text-align: center;">
	<br>
	<button class="btn-nazik-add" *ngIf="specbutton" (click)="addSpec()">{{valueStrings[15].title}} </button>	
	<button class="btn-nazik-remove" *ngIf="specbutton" (click)="removeSpec()">{{valueStrings[16].title}} </button>	
</div>

<div class="btn-box1" style="text-align: center;">
	<button class="btn-nazik-stock" (click)="goToStocks()">{{valueStrings[17].title}}</button>	
</div>


</ion-content>



