<!--
  Generated template for the SpecificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>




  <ion-navbar class="black-header">
     <button ion-button menuToggle>
      <ion-icon name="menu" style="color:white"></ion-icon>
    </button> 		
    <ion-title class="header-name"><img src="assets/imgs/icon_logo@2x.png"> Specifications</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goBack()"><ion-icon class= "back-icon" ios="ios-arrow-back" md="ios-arrow-back"  ></ion-icon></button>
    </ion-buttons>    
  </ion-navbar>

</ion-header> 


<ion-content>

	<!-- <input type="button" id="btnfun" value="bindfun"> -->
<!-- <div class="col-xs-12 promotion-box-outer fixed"  id="specifications" *ngFor="let x of specs; let i = index">

	<div class="col-xs-12 promotion-box specificationbox">
		<table class="table table-promotion ltr">
			<tr>
				<td>Specifications Name <br>(In English)</td>
				<td><input id="" [(ngModel)]="x.key"></td>
			</tr>
			<tr>
				<td>Specifications Name <br>(In Arabic)</td>
				<td><input id="" [(ngModel)]="x.key_ar"></td>
			</tr>
		</table>
		<table class="table table-promotion ltr value_{{x.key_id}}_en_ar" id="addvalue_spec_{{x.key_id}}">
			<tr class="fixed" *ngFor="let y of x.values; let k = index">
				<td>Specifications Value <br>(In English)</td>
				<td><input class="spec_{{x.key_id}}_value" id="spec_{{x.key_id}}_value_1_en" name="" [(ngModel)]="x.values[0]"></td>
			</tr>
			<tr class="fixed">
				<td>Specifications Value <br>(In Arabic)</td>
				<td><input id="spec_{{x.key_id}}_value_1_ar" (keyup)="validation_val_ar(x.key_id,1)" name="" [(ngModel)]="x.values_ar[i]"></td>
			</tr>
		</table>
		<div class="col-xs-12 text-center">
			<br>
			<button class="btn-nazik-add-value" (click)="addValue(x.key_id);">Add Value</button>
			
			<button class="btn-nazik-remove-value" (click)="removeValue(x.key_id)">Remove Value</button>
			<br><br>
		</div>
	</div>

</div> -->

<!-- temp work  -->
<!-- <div class="col-xs-12" id="abc" *ngFor="let input of inputs;let i = index; trackBy: trackByIndex">
	<h3>Specification</h3>
	<label>Type here</label>
	<input type="text" id="{{input.id}}" [(ngModel)]="specname">
</div> -->
<!-- temp work -->

<!-- this worked for me  -->
<!-- <form name="userForm">
		<table style="background-color:cadetblue">
		<tr *ngFor="let item of itemList; let in = index">
		  <td>First Name<input type="text" name="lastname-{{in}}" [(ngModel)]="item.firstname"></td><br>
		  <td>Last Name<input type="text" name="middlename-{{in}}" [(ngModel)]="item.lastname"></td><br>
		</tr>
		</table>
		<button (click)="getSpecForm()">Click</button>
</form> -->
<!-- this worked for me  -->

<!-- <p>Temp work</p>
<label style="color:black" *ngFor="let item of items; let i = index; trackBy:trackByIndex">
	{{items[i]}}
	<input type="number" min="0" max="10" step="2" [(ngModel)]="items[i]">
</label> -->


<!-- <div class="one" [innerHtml]="htmlToAdd"></div> -->

<div class="col-xs-12 promotion-box-outer" id="specifications" *ngIf="specbox">

	<div class="col-xs-12 promotion-box specificationbox" *ngFor="let item of specBox; let in = index"> 
		<table class="table table-promotion ltr">
			<tr>
				<td>Specifications Name <br>(In English)</td>
				<td><input id="spec_name_{{item.key_id}}_en" name="key-{{in}}" [(ngModel)]="item.key" placeholder="specification name"></td>
			</tr>
			<tr>
				<td>Specifications Name <br>(In Arabic)</td>
				<td><input id="spec_name_{{item.key_id}}_ar" (keyup)="validation_spec_ar(item.key_id)" name="key_ar-{{in}}" [(ngModel)]="item.key_ar" placeholder="اسم المواصفات"></td>
			</tr>
		</table>
		<table class="table table-promotion ltr value_{{item.key_id}}_en_ar" id="addvalue_spec_{{item.key_id}}">
			<tr > 
				<td>Specifications Value <br>(In English)</td>
				<td><input class="spec_{{item.key_id}}_value" id="spec_{{item.key_id}}_value_1_en" name="" placeholder="value_en"></td>
			</tr>
			<tr>
				<td>Specifications Value <br>(In Arabic)</td>
				<td><input id="spec_{{item.key_id}}_value_1_ar" (keyup)="validation_val_ar(item.key_id,1)" name="" placeholder="قيمة المواصفات"></td>
			</tr>
		</table>
		<div class="col-xs-12 text-center">
			<br>
			<button class="btn-nazik-add-value" (click)="addValue(item.key_id);">Add Value</button>
			
			<button class="btn-nazik-remove-value" (click)="removeValue(item.key_id)">Remove Value</button>
			<br><br>
		</div>
	</div>

</div>
<!-- Specifications box  -->

<div class="col-xs-12" style="text-align: center;">
	<br>
	<button class="btn-nazik-add" *ngIf="specbutton" (click)="addSpec()">Add </button>	
	<button class="btn-nazik-remove" *ngIf="specbutton" (click)="removeSpec()">Remove </button>	
</div>

<div class="btn-box1" style="text-align: center;">
	<button class="btn-nazik-stock" (click)="goToStocks()">Proceed to Stock</button>	
</div>


</ion-content>



