page-promotions {

}

.product-box img {
    width: 100%;
}

.btn-nazik.sm {
    padding: 5px 24px !important;
}

.promotion-box-outer {
    padding: 6px !important;
}

.table-promotion {
    background: white;
    margin: 0 !important;
    margin-bottom: 6px !important;
}

.promotion-box {
    background: #f7f7f7;
    border: solid 1px gainsboro;
    padding: 6px !important;
    border-top: solid 3px #10161f;
}

.product-box img {
    width: 100%;
}
.product-box {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 8px;
    overflow: hidden;
}

.no-p {
    padding: 0 !important;
}

.two-btn-box {
    margin: 10px 10px;
    float: right;
}

.black {
    background: #131922 !important;
}