<!--
  Generated template for the MypaymentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="black-header">
     <button ion-button menuToggle>
      <ion-icon name="menu" style="color:white"></ion-icon>
    </button> 	  
	<ion-title class="header-name" [ngClass]="(checklang) ? 'title-page-ar ': 'title-page-en '" ><img src="assets/imgs/icon_logo@2x.png"> {{'my_payment_page' | translate}}</ion-title>
    <!-- <ion-buttons right>
      <button ion-button icon-only (click)="goBack()"><ion-icon class= "back-icon" ios="ios-arrow-back" md="ios-arrow-back"  ></ion-icon></button>
    </ion-buttons>	 -->
  </ion-navbar>

</ion-header>

<ion-content>
		<p class="zeroQuotes" *ngIf="errormsg">{{'my_payment_error_msg' | translate}}</p>
<!-- Payment box -->
<div class="col-xs-12 promotion-box-outer" *ngFor="let x of payments">
	<div class="col-xs-12 promotion-box">
		<table class="table table-details {{util.dir}}">
			<tr>
				<td>{{'my_payment_vendor_name_en'}}</td>
				<td>{{name}}</td>
			</tr>
			<tr>
				<td>{{'my_payment_vendor_ar' | translate}}</td>
				<td>{{name_ar}}</td>
			</tr>
			<tr>
				<td>{{'my_payment_vendor_amount' | translate}}</td>
				<td>{{x.amount}} SAR</td>
			</tr>
			<tr>
				<td>{{'my_payment_date' | translate}}</td>
				<td>{{x.created_at}}</td>
			</tr>			
		</table>		
	</div>
</div>
<!-- Payment box  -->

</ion-content>
