<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="black-header">
     <button ion-button menuToggle>
      <ion-icon name="menu" style="color:white"></ion-icon>
    </button>     
    <ion-title class="header-name" [ngClass]="(checklang) ? 'title-page-ar ': 'title-page-en '" ><img src="assets/imgs/icon_logo@2x.png"> {{'message_page' | translate}}</ion-title>
    <!-- <ion-buttons right>
      <button ion-button icon-only (click)="goBack()"><ion-icon class= "back-icon" ios="ios-arrow-back" md="ios-arrow-back"  ></ion-icon></button>
    </ion-buttons>     -->
  </ion-navbar>

</ion-header>



<ion-content>

   <!-- <button ion-button secondary menuToggle>Toggle Menu</button>  -->

  <div>
  <ion-segment [(ngModel)]="customerMessages" class="segment-color">
    <ion-segment-button value="customerMessages">
     {{'customer_messages' | translate}}
    </ion-segment-button>
    <ion-segment-button value="userContacted">
     {{'user_contacted' | translate}}
	</ion-segment-button>
  </ion-segment>
</div>

<div class="col-xs-12">
<div [ngSwitch]="customerMessages">
  <ion-list *ngSwitchCase="'customerMessages'" >
		
 <!-- <p class="zeroMessages" *ngIf="errormsg">No Claims found</p>  -->

    <div class="col-xs-12 promotion-box-outer">
      <div class="col-xs-12 promotion-box">
        <table class="table table-messages customer {{util.dir}}">
          <!-- <p class="msg-error" *ngIf="errormsg">No Messages Found</p> -->
          <tr *ngFor="let x of messageslist">
            <td>
              <div class="msg-pic">
                <img src="{{x.image}}" onError="this.src='assets/imgs/default-placeholder.png'" imageViewer/>
              </div>
            </td>
            <td>{{x.name}}</td>
            <td (click)="goToChat(x.id,x.name)">
              <img src="assets/imgs/chat.png">
            </td>
            <!-- <td>
              <img src="assets/imgs/profile.png">
            </td> -->
          </tr>
          
        </table>		
      </div>
    </div>
  </ion-list>

<!--accepted Segment-->

  <ion-list *ngSwitchCase="'userContacted'">

		<!-- <p class="zeroMessages" *ngIf="errormsg2">No claims found</p> -->
    <div class="col-xs-12 promotion-box-outer">
      <div class="col-xs-12 promotion-box">
        <table class="table table-messages user {{util.dir}}">
          <!-- <p class="msg-error" *ngIf="errormsg">No User Contacted Found</p> -->
          <tr (click)="goToUserDetail(x.id)" *ngFor="let x of contacts">
            <td>
              <div class="msg-pic">
                <img src="assets/imgs/pic.png" onError="this.src='assets/imgs/default-placeholder.png'" imageViewer/>
              </div>
            </td>
            <td>
              {{x.user_name}}
              <br>
              <span class="text-sm">{{x.user_email}}</span>
              </td>
            <td>
              <img src="assets/imgs/next.png" class="img-arrow">
            </td>				
          </tr>
        </table>		
      </div>
    </div>

  </ion-list>


</div>
</div>
</ion-content>

