page-storeinformation {

}

.dark {
    color: black !important;
    border-color: black !important;
    font-weight: 600 !important;
}
.dropdown.number {
    width: 20%;
}
.dropdown {
    width: 100%;
    background: none;
    border: none;
    border-bottom: solid 1px #fff;
    padding: 0 0 10px 0 !important;
    color: white;
}

.number-box {
    margin: 4px 0 !important;
    float: right;
    width: 100%;
}

.alert-md .alert-checkbox-icon {
    right : 13px
}

.alert-ios [aria-checked=true] .alert-checkbox-icon {
    border-color: black;
    background-color: black;
}

.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: black;
    background-color: black;
}

.alert-ios .alert-button {
    color: white;
    background-color: black;
}

.alert-ios .alert-message, .alert-ios .alert-input-group {
    text-align: center;
    font-size: 17px;
    color: inherit;
    padding: 15px 16px 21px;
}

.alert-ios .alert-message:empty {
    padding: 0 0 2px;
}

// .button-md{
//     background-color: #dd1f30 !important;
// }

.choosefile-button {
    background-color: lavenderblush;
    border: transparent;
}

.alert-md .alert-message {
    max-height: 240px;
    font-size: 15px;
    text-align: center !important;
}

.alert-md .alert-message, .alert-md .alert-input-group {
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 24px 10px;
}

.alert-md .alert-button {
    color: #f4f4f4;
    background-color: #e13838;
    padding: 5px 24px 5px 30px;
}