<!--
  Generated template for the StoreinformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="black-header">
     <button ion-button menuToggle>
      <ion-icon name="menu" style="color: white"></ion-icon>
    </button>     
    <ion-title class="header-name" [ngClass]="(checklang) ? 'title-page-ar ': 'title-page-en '" ><img src="assets/imgs/icon_logo@2x.png"> {{'store_information' | translate}}</ion-title>
     <ion-buttons right>
      <button ion-button icon-only (click)="onUserLogout()"><ion-icon class= "back-icon" ios="ios-log-out" md="ios-log-out"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>


<ion-content >
	<div class="container form-box">
		<div class="col-xs-12">
			    <form class="form-signup" dir="{{util.dir}}">
			      <div class="form-group">
			      	<label class="dark">{{'store_name_en' | translate}}</label>
							<input type="email" class="text-box form-control dark" placeholder="{{'store_name_en_placeholder' | translate}}" required="" [(ngModel)]="vendorname" name="vendorname">
			      </div>
			      <div class="form-group">	      	
			      	<label class="dark">{{'store_name_ar' | translate}}</label>
			        <input type="text" class="text-box form-control dark" placeholder="{{'store_name_ar_placeholder' | translate}}" required="" [(ngModel)]="vendorname_ar" name="vendorname_ar"> 
			      </div>
			      <div class="form-group">
			      	<label class="dark">{{'store_description_en' | translate}}</label>
			        <input type="email" class="text-box form-control dark" placeholder="{{'store_description_en_placeholder' | translate}}" required="" [(ngModel)]="description" name="description">
			      </div>
			      <div class="form-group">	      	
			      	<label class="dark">{{'store_description_ar' | translate}}</label>
			        <input type="text" class="text-box form-control dark" placeholder="{{'store_description_ar_placeholder' | translate}}" required="" [(ngModel)]="description_ar" name="description_ar">  
			      </div>
			      <div class="form-group">	      	
			      	<label class="dark">{{'store_type' | translate}}</label>
			      	<br>
			        <select class="dropdown dark">
			        	<option>{{'store_type_product' | translate}}</option>
			        	<option>{{'store_type_service' | translate}}</option>
			        </select>
			      </div>
			      <div class="form-group">	      	
			      	<label class="dark">{{'phone_number' | translate}}</label>
			      	<br>
			        <!-- <select class="dropdown number dark ltr">
								<option>+1</option>
								<option>+968</option>
								<option>+27</option>
								<option>+966</option>
								<option>+98</option>
								<option>+967</option>
								<option>+961</option>
								<option>+91</option>
								<option>+44</option>
							</select>
							 -->
							

			        <input type="email" class="text-box number-box dark" placeholder="{{'phone_number_placeholder' | translate}}" required="" [(ngModel)]="phone" name="phone">
			      </div>
			      <div class="form-group">
			      	<label class="dark">{{'in_shipment_charges' | translate}}</label>
			        <input type="email" class="text-box form-control dark" placeholder="{{'out_shipment_charges_placeholder' | translate}}" required="" [(ngModel)]="in_city_shipment_charges" name="in_city_shipment_charges">
			      </div>
			      <div class="form-group">	      	
			      	<label class="dark">{{'out_shipment_charges' | translate}}</label>
			        <input type="text" class="text-box form-control dark" placeholder="{{'out_shipment_charges_placeholder' | translate}}" required="" [(ngModel)]="out_city_shipment_charges" name="out_city_shipment_charges">
						</div>
			      <div class="form-group">	      	
			      	<label class="dark">{{'preselected_country' | translate}}</label>
			        <input disabled type="text" class="text-box form-control dark" placeholder="{{'none' | translate}}" [(ngModel)]="preselectedcountries" name="preselectedcountries">
			      </div>						
			      <div class="form-group">	      	
			      	<label class="dark">{{'select_country' | translate}}</label>
			      	<br>
			        <select class="dropdown dark" name="countryname" [(ngModel)]="countryname" (change)="getCountry()">
								<option value="opt">{{'select_country_placeholder' | translate}}</option>
								<option *ngFor="let x of countrylist;let i = index" value="{{x}}">{{x}}</option>
								<!-- <option *ngFor="let x of countrylist;let i = index" [selected]="selectedcountry" [ngValue]="x">{{x}}</option> -->
			        </select>
			      </div>
			      <div class="form-group">	      	
			      	<label class="dark" style="text-decoration: underline;" (click)="presentPrompt()">{{'select_city' | translate}}</label>
			      </div>
			      <div class="form-group" (click)="launchLocationPage()">	      	
			      	<label class="dark" style="text-decoration: underline;">{{'click_on_map' | translate}}</label>&nbsp; <img src="assets/imgs/map.png">
						</div>
						
						<div class="form-group" style="height: 60px !important;">
							<div class="col-xs-6 no-p">
									<label class="dark">{{'store_logo' |  translate}}</label> <br>
									<span id="fileselector">
										<label class="" for="upload-file-selector choosefile-button">
												<input class="fileInput" type="file" name="file" ng-model-instant="" (change)="onChange($event)">
												<!-- <input class="fileInput" type="file" name="file1" (change)="onChange($event)"> -->
												
												<span class="color-red"><b>{{'choose_file' | translate}}</b></span>
										</label>
									</span>							 
							</div>
							<div class="col-xs-6">
										<img class="product_left_image" src="{{logo}}" value="logo" onError="this.src='assets/imgs/default-placeholder.png'" imageViewer>						 
							</div>
						</div>

<!-- 
						<ion-item>
							<button ion-button (click)="uploadFile()">Upload</button>
						</ion-item> -->
						


			      <div class="form-group">	      	
			      	<label class="dark">{{'select_off_day' | translate}}</label>
			      	<br>
			        <select class="dropdown dark" name="offdays" [(ngModel)]="offdays">
								<option value="a">{{'select_off_day' | translate}}</option>
			        	<option value="monday">{{'select_off_day_monday' | translate}}</option>
								<option value="tuesday">{{'select_off_day_tuesday' | translate}}</option>
								<option value="wednesday">{{'select_off_day_wednesday' | translate}}</option>
								<option value="thursday">{{'select_off_day_thursday' | translate}}</option>
								<option value="friday">{{'select_off_day_friday' | translate}}</option>
								<option value="saturday">{{'select_off_day_saturday' | translate}}</option>
								<option value="sunday">{{'select_off_day_sunday' | translate}}</option>
			        </select>
			      </div>


			      <br>
		          <div class="col-xs-12" style="text-align: center;">
		          	<button class="btn-nazik" (click)="updateVendor()">{{'save' | translate}}</button>	
		          </div>
		          <br><br><br>
			    </form>
	    </div>
	</div>  
</ion-content>
