page-orders {

}
.btn-search-filter{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101721;
    width: 46px;
}
.filters {
    padding: 10px 0 0 0!important;
}